body{
    font-family: futura;
}

.mainToolBar{
    text-align: center;
    align-content: center;

}

.jumbotron {
    text-align: center;
    background-color: aquamarine;
    color: deeppink;
    border-style: solid;
    border-color: deeppink
}
h1 {
    font-family: futura;
}

#buttonContainer {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}